.form {
    color: green;
    background-color: #c4ded1;
    padding-top: 1vw;
    width: 50vw;
    position: relative;
    left: 25vw;
}

legend {
    font-size: 40px;
}

p {
    margin-bottom: 0.5vw;
}

.small {
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    width: 22vw;
    background-color: #E7F7F4;
    border: 1px solid green;
}

.emailnph {
    display: flex;
}

.ph {
    margin-left: 0.4vw;
}

.big {
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    width: 45.3vw;
    background-color: #E7F7F4;
    border: 1px solid green;
}

.drop {
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    width: 22.5vw;
    background-color: #E7F7F4;
    border: 1px solid green;
    color: gray;
}

.send {
    background-color: green;
    color: #E7F7F4;
    border: 1px solid green;
    border-radius: 2vw;
    margin-left: 19vw;
    padding: 1vw 3vw;
}

.send:hover {
    background-color: #c4ded1;
}