.container {
    background-color: rgb(27, 59, 154);
    border: 5px solid black;
    max-width: 800px;
    margin: auto;

}

.header {
    display: flex;
    padding: 20px;
}

#left {
    width: 30%;
}

#right {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#logo {
    background-color: aquamarine;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;

}

#phoneno {
    background-color: white;
    border: 3px solid black;
    width: 200px;
    margin-left: auto;
    background-color: rgb(44, 181, 186);

}

#menu {
    background-color: white;
    border: 3px solid black;
    width: 350px;
    margin-left: auto;
    background-color: rgb(41, 170, 175);

}

.slideshow {
    background-color: rgb(22, 130, 130);
    border: 3px solid black;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 200px;

}

.body {
    display: flex;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 23, 154);
    border: 3px solid black;
    width: 65%;
    height: 200px;
    padding: 20px;
    margin: 20px;

}

#bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 23, 154);
    border: 3px solid black;
    width: 35%;
    height: 200px;
    padding: 20px;
    margin: 20px;

}

.footer {
    background-color: rgb(100, 100, 219);
    border: 3px solid black;
    padding: 20px;
    margin: 20px;

}

@media screen and (max-width: 600px) {
    .headerpart {
        flex-wrap: wrap;
    }

    #leftside {
        width: 100%;
    }

    #logo {
        margin: auto;
    }

    #rightside {
        width: 100%;

    }

    #phonenumber {
        margin-top: 20px;
        width: 100%;
    }

    #menu {
        margin-top: 20px;
        width: 100%;
    }

    .contentbody {
        flex-wrap: wrap;
    }

    #textcontent {
        width: 100%;
    }

    #sidebar {
        width: 100%;
    }

}

h1,
h3 {
    text-align: center;
}