h1 {
    font-size: 80px;
}

p {
    font-size: 22px;
}

.container {
    display: flex;
    font-family: 'Secular One', sans-serif;
}

.container div {
    flex: 1;
}

#left {
    margin-top: 150px;
}

#container1 {
    left: 0;
    margin: auto;
    text-align: center;
    width: 700px;
    margin-left: -100px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

#right {
    background-image: url(images/pic\ homeworkno.1.png);
    margin-bottom: -10%;
    background-repeat: no-repeat;
    background-size: contain;
}