h1 {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    margin-right: 100px;
    font-size: 50px;
}

h2 {
    font-size: medium;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
}

.container div {
    flex: 1;
}

#img {
    background-image: url(../img/laptop.jpg);
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: contain;
    height: 700px;
    margin: -8px;

}

#box {
    border: 7px solid black;
    border-right: none;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 120px;
}

#word1 {
    text-align: right;
    margin-right: 100px;

}

#word2 {
    text-align: right;
    margin-right: 100px;
}

#word3 {
    text-align: right;
    margin-right: 100px;

}